// break point
// ----------------------------
$bp: (
    xs: 480px,
    sm: 600px,
    md: 960px,
    lg: 1280px
);

// colors
// ----------------------------

$main-color:        #185ea4;
$sub-color:         #a1c3e6;
$accent-color:      #fc7367;
$black:             #1f2933;
$gray:              #f0f0f0;
$white:             #fff;
$thin-blue:         #effaff;