<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 
    link(rel='stylesheet', href="/css/style.css")

  body
    .Wrapper
      .Mainvisual
        .Mainvisual_img.PcOnly
          img(src="images/mainvisual_img_pc.png", alt="REMEMBER Pro")
        .Mainvisual_img.SpOnly
          img(src="images/mainvisual_img_sp.png", alt="REMEMBER Pro")
        .Mainvisual_inner
          .Mainvisual_title インフルエンサーへの<br>お仕事依頼をシンプルに。
          .Mainvisual_lead
            h2.Mainvisual_leadTop 国内最大級のクラウドエージェンシー
            .Mainvisual_leadBottom
              h1.Mainvisual_logo
                img(src="images/logo.png", alt="REMEMBER Pro")
              .Mainvisual_releaseDate 2019年3月末<br>リリース予定！
          .PrivilegeBox
            .PrivilegeBox_top 抽選で10社の企業様限定
            .PrivilegeBox_middle
              .PrivilegeBox_info
                .PrivilegeBox_text <span class="PrivilegeBox_textSmall">事前エントリーで…</span><br><span class="PrivilegeBox_textMedium">システム利用料が<br class="SpOnly"></span><span class="PrivilegeBox_textLarge">半年間無料</span><span class="PrivilegeBox_textMedium">になるチャンス！</span>
              a(href="https://docs.google.com/forms/d/e/1FAIpQLSdmE1JUZZJbpFctXsxUMwDYpW5CbTCOnbNUAWdJnQckD3t8hw/viewform?usp=sf_link" target="_brank").PrivilegeBox_entryButton.EntryButton いますぐエントリー
            .PrivilegeBox_note.NoteText ※インフルエンサーの原価と、サンプル配送料などはご負担いただきます。

      .ContentBox.Point
        .ContentBox_inner
          .ContentBox_header
            .ContentBox_title Point
            h3.ContentBox_subTitle REMEMBER Pro 3つのポイント
          ul.Point_list
            li.Point_listItem
              .Point_info.Point_info--right
                .Point_infoHeader
                  .Point_infoHeaderNumber Point / 01
                  .Point_infoHeaderTitle 指名スカウト
                .Point_infoLead 案件に合ったインフルエンサーに依頼ができる！
                .Point_infoText ○人の様々なタイプのインフルエンサーの中から、依頼したい案件にあったインフルエンサーへ直接スカウトすることができます！
              .Point_thmb
                img(src="images/point_scout.png", alt="")
            li.Point_listItem
              .Point_info.Point_info--left
                .Point_infoHeader
                  .Point_infoHeaderNumber Point / 02
                  .Point_infoHeaderTitle エンゲージメント分析
                .Point_infoLead 今後に役立つデータが見られる！
                .Point_infoText 依頼したインフルエンサーの投稿のいいね数などエンゲージメントを自動で抽出し、分析することができます！
              .Point_thmb.Point_thmb--right
                img(src="images/point_analysis.png", alt="エンゲージメント分析")
            li.Point_listItem
              .Point_info.Point_info--right
                .Point_infoHeader
                  .Point_infoHeaderNumber Point / 03
                  .Point_infoHeaderTitle サンプル配送代行
                .Point_infoLead 面倒な配送の手間が省ける！
                .Point_infoText 多数のインフルエンサーに送らなければいけない面倒な商品サンプル配送もRmemberに送っていただくだけで指定のインフルエンサーの元へお届け！
              .Point_thmb
                img(src="images/point_delivery.png", alt="サンプル配送代行")
          .Point_more
            .Point_moreLead 他にも便利な機能がたくさん！
            ul.Point_moreList
              li.Point_moreListItem
                .Point_moreTitle 支払い仲介
                .Point_moreThmb
                  img(src="images/point_more_payment.png", alt="支払い仲介")
                .Point_moreinfoText お支払いはクレジットカード・請求書払いが可能！
              li.Point_moreListItem
                .Point_moreTitle お仕事チャット
                .Point_moreThmb
                  img(src="images/point_more_chat.png", alt="お仕事チャット")
                .Point_moreinfoText 面倒なメールアドレスなどの連絡先交換は一切不要！
              li.Point_moreListItem
                .Point_moreTitle 募集
                .Point_moreThmb
                  img(src="images/point_more_recruit.png", alt="募集")
                .Point_moreinfoText お仕事を掲載するだけで、簡単にインフルエンサーを集め！
            
      .ContentBox.ContentBox--fill.Flow
        .ContentBox_inner
          .ContentBox_header
            .ContentBox_title Flow
            h3.ContentBox_subTitle REMEMBER Pro お仕事の流れ
          .Flow_work
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_release.png", alt="")
              .Flow_workTitle 案件を公開
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_choice.png", alt="")
              .Flow_workTitle 応募の中から<br>キャスト選定
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_chat.png", alt="")
              .Flow_workTitle チャットでの<br>詳細確認
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_delivery.png", alt="")
              .Flow_workTitle サンプル配送
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_payment.png", alt="")
              .Flow_workTitle 料金お支払い<br>（請求書払い可能）
            .Flow_workItem
              .Flow_workThumb
                img(src="images/flow_work_verification.png", alt="")
              .Flow_workTitle 結果検証
          .Flow_chartBox
            .Flow_chartBoxHeader
              .Flow_chartTitleBorder
              .Flow_chartTitle お支払い
              .Flow_chartTitleBorder
            .Flow_chartImg.PcOnly
              img(src="images/flow_payment_pc.png", alt="")
            .Flow_chartImg.SpOnly
              img(src="images/flow_payment_sp.png", alt="")
          .Flow_chartBox
            .Flow_chartBoxHeader
              .Flow_chartTitleBorder
              .Flow_chartTitle サンプル配送代行
              .Flow_chartTitleBorder
            .Flow_chartImg.PcOnly
              img(src="images/flow_ delivery_pc.png", alt="")
            .Flow_chartImg.SpOnly
              img(src="images/flow_ delivery_sp.png", alt="")

      .ContentBox.Entry
        .ContentBox_inner
          .ContentBox_header
            .ContentBox_title Entry
            h3.ContentBox_subTitle REMEMBER Pro 事前エントリー
          .Entry_note.NoteText ※インフルエンサーの原価と、サンプル配送料などはご負担いただきます。<br>※抽選の結果は、採用された企業様にのみ、2019年1月末にご連絡します。
          .EntryButtonArea
            a(href="https://docs.google.com/forms/d/e/1FAIpQLSdmE1JUZZJbpFctXsxUMwDYpW5CbTCOnbNUAWdJnQckD3t8hw/viewform?usp=sf_link", target="_brank").Entry_button.EntryButton エントリーはこちら
          a(href="https://line.me/R/ti/p/%40remembercast", target="_brank").Entry_influencersLink インフルエンサーのご登録についてはLINE@よりお問い合わせください。
      
      footer.Footer
        .Footer_inner
          .Footer_logo
              img(src="images/logo.png", alt="REMEMBER Pro")
          .Footer_copyright Copyright 2017 Remember inc.